@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Calibri, Helvetica, sans-serif;
}

/* Minimize reCAPTCHA badge and expand on hover */
.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 4px !important;
  z-index: 9999 !important; /* Ensures it is above all other components */
  position: relative; /* Ensures z-index works */
}

.grecaptcha-badge:hover {
  width: 256px !important;
}